@model IEnumerable<Responce>

@{
    ViewData["Title"] = "Responces";
}

<h1>Responces</h1>

<a class="btn btn-primary" asp-action="Add">Add</a>

<table class="table">
    <thead>
        <tr>
            <th hidden>
                <p>ResponceID</p>
            </th>
            <th>
                <p>Input</p>
            </th>
            <th>
                <p>Output</p>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var res in Model)
{
        <tr>
            <td hidden>
                @Html.DisplayFor(modelItem => res.ResponceID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => res.Input)
            </td>
            <td>
                @Html.DisplayFor(modelItem => res.Output)
            </td>
            <td>
                <a class="btn btn-secondary" asp-action="Edit" asp-route-responceID="@res.ResponceID">Edit</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-responceID="@res.ResponceID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>